version: '3.8'
services:
  backend:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./docker:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "80:80"
    volumes:
      - ./front:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

  api-gateway:
    build:
      context: ./api-gateway
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: prod

  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    # depends_on:
    #   - mongo
  # mongo:
  #   image: mongo
  #   ports:
  #     - "27017:27017"
